<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yazilimsinama.Properties.Settings.dbscrumConnectionString"
            connectionString="Data Source=LAPTOP-8F0SGMKR;Initial Catalog=dbscrum;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>